/*Amal Kariyawasam, 25/06/2025,
This is the main CSS file 
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* Main background */
* {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Nav Bar */
#nav_bar {
  text-align: center;
  padding: 20px 20px 1px 20px;
  margin-top: 0;
  margin-bottom: 5rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 200;
  color: #04aa6d;
}

#nav_bar_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c5c5c5;
  padding: 20px 20px 20px 20px;
}

#nav_bar_list li {
  float: left;
  list-style-type: none;
}

#nav_bar_list a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav_bar_list li a:hover:not(.active) {
  background-color: #04aa6d;
}

#nav_bar_list .active {
  background-color: #405b51;
}

a {
  color: #000000;
}

/* Weather Div */
.current_weather {
  color: #2828b3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  padding: 200px 10px 250px 10px;
  background-image: url("/static/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#introduction {
  background-color: #fcfcff;
  color: #000000;
  text-align: center;
  /* padding: 20px 20px 20px 20px; */
}

#usage {
  color: #000000;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  /* padding: 20px 20px 20px 20px; */
}

#tech_stack {
  color: #000000;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  /* padding: 20px 20px 20px 20px; */
}

/* Footer styling */
#footer {
  color: #000000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 200;
  padding: 20px 20px 20px 20px;
}

.intro {
  padding: 10px;
}

.form input {
  background-color: #000000;
}

button {
  background-color: #000000;
}
